@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --cor-primaria: #01a3a4;
    --cor-secundaria: #e8f8f8;
    --cor-terciaria: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: var(--cor-primaria);
}

#cabecalho .nav .nav-link.active {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

#cabecalho .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover {
    color: var(--cor-terciaria);
}

.navbar-toggler {
    background-color: var(--cor-terciaria);
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.p-sobre {
    text-align: justify;
}

#sobre-a-loja,
#produtos {
    background-color: var(--cor-secundaria);
}

.valor {
    display: flex;
    gap: .5em;
    margin-top: auto;
}

.valor del {
    font-size: .85em;
    margin-top: auto;
    margin-bottom: 0;
    color: #ccc;
}

.valor p {
    color: var(--cor-primaria);
    font-weight: bold;
    margin: 0;
}

.produto {
    display: flex;
    flex-direction: column;
    max-height: 80%;
}

.btn-mais {
    display: block;
    margin-top: auto 0;
    width: 100%;
    align-self: flex-end;
}

.text-colored {
    color: var(--cor-primaria);
}

.nav-produtos .nav-link.active {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.nav-produtos .nav-link:hover {
    color: var(--cor-primaria);
}


.btn-mais, #fale-conosco button {
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    padding: .5em;
    margin-bottom: 2em;
}

.btn-mais:hover, #fale-conosco button:hover {
    background-color: #075a5a;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.carousel-bg-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(0.7); 
    transform: scale(1.1); /* Evita bordas brancas causadas pelo blur */
    z-index: 1;
}

.main-img {
    position: relative;
    z-index: 2;
    object-fit: contain;
    height: 100%;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 3;
}

@media (max-width:767px) {
    .carousel-bg-container {
        max-height: 300px; 
    }

    .main-img {
        width: 80% !important;
    }

    
}

@media screen and (min-width:768px) and (max-width:1023px){
    .carousel-bg-container {
        max-height: 300px;
    }

    .main-img {
        width: 100% !important;
    }

    .valor {
        flex-direction: column;
        gap: 0;
    }
}